@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.SeaTransport.SeaTransportAddViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Оцени Воден транспорт";
}

<div class="create-container">
    <div class="create-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Functionality" class="control-label"></label>
                <select asp-for="Functionality" id="functionalityInput" class="select-form">
                    <option value="Търговски">Търговски</option>
                    <option value="Военен">Военен</option>
                    <option value="Товарен">Товарен</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfMovability" class="control-label"></label>
                <select asp-for="TypeOfMovability" id="typeOfMovability" class="select-form">
                    <option value="Ветроходен">Ветроходен</option>
                    <option value="Моторен">Моторен</option>
                    <option value="Смесен">Смесен</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ManifactureYear" class="control-label"></label>
                <input type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="ManifactureYear" class="dateInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="DistanceTraveled" class="control-label"></label>
                <input id="traveledDistance" asp-for="DistanceTraveled" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input type="number" min="1" asp-for="Height" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input type="number" asp-for="Weight" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input type="number" asp-for="Width" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCountry" class="control-label"></label>
                <input asp-for="RegisteredCountry" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredRegion" class="control-label"></label>
                <input asp-for="RegisteredRegion" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCity" class="control-label"></label>
                <input asp-for="RegisteredCity" class="textInput" /><br />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="securityEquipmenPossession" class="checkboxInput" asp-for="SecurityEquipmenPossession" /> @Html.DisplayNameFor(model => model.SecurityEquipmenPossession)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="technicalServicability" class="checkboxInput" asp-for="TechnicalServiceability" /> @Html.DisplayNameFor(model => model.TechnicalServiceability)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="previousIncidentsInput" class="checkboxInput" asp-for="PreviousAccidents" /> @Html.DisplayNameFor(model => model.PreviousAccidents)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="doesRoutePassesPirateZones" class="checkboxInput" asp-for="DoesRoutePassesPirateZones" /> @Html.DisplayNameFor(model => model.DoesRoutePassesPirateZones)
                </label>
            </div>
            <div class="form-group">
                <input class="create-result" type="submit" value="Запази резултат" />
            </div>
        </form>
        <button class="show-result" OnClick="getSeaTransportResultValue();">Покажи резултат</button>
    </div>
    <div class="result-box">
        <span class="result">100</span>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}