@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.SeaTransport.SeaTransportDetailsViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Детайли";
}

<div class="details-container">
    <div class="details-box">
        <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
        <div class="model-details">
            <div>Име: <span class="details-span">@Html.DisplayFor(model => model.Name)</span></div>
            <div>Функционалност: <span class="details-span">@Html.DisplayFor(model => model.Functionality)</span></div>
            <div>Начин на задвижване: <span class="details-span">@Html.DisplayFor(model => model.TypeOfMovability)</span></div>
            <div>Година на производство: <span class="details-span">@Model.ManifactureYear.ToShortDateString()</span></div>
            <div>Изминато разстояние(км.):  <span class="details-span">@Html.DisplayFor(model => model.DistanceTraveled)</span></div>
            <div>Височина(м.): <span class="details-span">@Html.DisplayFor(model => model.Height)</span></div>
            <div>Тегло(кг.): <span class="details-span">@Html.DisplayFor(model => model.Weight)</span></div>
            <div>Широчина(м.): <span class="details-span">@Html.DisplayFor(model => model.Weight)</span></div>
            <div>Държава: <span class="details-span">@Html.DisplayFor(model => model.RegisteredCountry)</span></div>
            <div>Област: <span class="details-span">@Html.DisplayFor(model => model.RegisteredRegion)</span></div>
            <div>Град/Село: <span class="details-span">@Html.DisplayFor(model => model.RegisteredCity)</span></div>
            <div>
                Обезопасителни средства:
                @if (Model.SecurityEquipmenPossession)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
               Маршрута минава ли през пиратска активност:
                @if (Model.DoesRoutePassesPirateZones)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Техническа изправност: @if (Model.TechnicalServiceability)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Предишни инциденти:
                @if (Model.PreviousAccidents)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>Създадено на: <span class="details-span">@Model.CreatedAt.ToShortDateString()</span></div>
            <div>Последно променено на: <span class="details-span">@Model.ModifiedAt.ToShortDateString()</span></div>
        </div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn"> <i data-feather="edit" class="edit-icon"></i></a>
    </div>

</div>
