@model IEnumerable<InsuranceRiskAssessment.Web.Models.ViewModels.RealEstateViewModels.BusinessEnterprise.BusinessEnterpriseViewModel>
        
@{
    ViewData["Title"] = "Insurance Risk Assesment - Бизнес предприятия";
}

<div class="index-container">
    <a asp-action="Create" class="link-create"> <i data-feather="plus" class="create-icon"></i></a>
    <div class="item-container">
        @foreach (var item in Model)
        {
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="itemBox">
                    <span class="item-name">@Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.Address)</span>
                    <spam class="item-result">@Html.DisplayFor(modelItem => item.ResultValue)</spam>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-button"><i data-feather="trash"></i></a>
                </div>
            </a>
        }
    </div>
</div>
