@model InsuranceRiskAssessment.Web.Models.ViewModels.RealEstateViewModels.VillaBuilding.VillaBuildingDetailsViewModel
    ViewData["Title"] = "Insurance Risk Assesment - Детайли";
}

<div class="details-container">

    <div class="details-box">
        <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
        <div class="model-details">
            <div>@Html.DisplayNameFor(model => model.Country) <span class="details-span">@Html.DisplayFor(model => model.Country)</span></div>
            <div>@Html.DisplayNameFor(model => model.Region) <span class="details-span">@Html.DisplayFor(model => model.Region)</span></div>
            <div>@Html.DisplayNameFor(model => model.City)<span class="details-span">@Html.DisplayFor(model => model.City)</span></div>
            <div>@Html.DisplayNameFor(model => model.Address) <span class="details-span">@Html.DisplayFor(model => model.Address)</span></div>
            <div>@Html.DisplayNameFor(model => model.SquareFeet) <span class="details-span">@Html.DisplayFor(model => model.SquareFeet)</span></div>
            <div>
                Пожарогасители:
                @if (Model.FireExtinguishers)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Предишни инциденти:
                @if (Model.PreviousAccidents)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Аварийни изходи:
                @if (Model.EmergencyExit)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Алармена система:
                @if (Model.AlarmSystem)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Наличие на газови бутилки:
                @if (Model.GasBottles)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>@Html.DisplayNameFor(model => model.CreatedAt)<span class="details-span">@Model.CreatedAt.ToShortDateString()</span></div>
            <div>@Html.DisplayNameFor(model => model.ModifiedAt) <span class="details-span">@Model.ModifiedAt.ToShortDateString()</span></div>
        </div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn"> <i data-feather="edit" class="edit-icon"></i></a>
    </div>

</div>