@model IEnumerable<InsuranceRiskAssessment.DataAccessLayer.Entities.MovablePropertyEnities.VehicleByLand>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parktronic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MostCommonRoutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManifactureYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecurityEquipmenPossession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicalServiceability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceTraveled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredRegion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegisteredCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousAccidents)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parktronic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MostCommonRoutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManifactureYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityEquipmenPossession)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnicalServiceability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceTraveled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredRegion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegisteredCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousAccidents)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
