@model InsuranceRiskAssessment.Web.Models.ViewModels.RealEstateViewModels.ResidentialBuilding.ResidentialBuildingAddViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Оцени жилищна сграда";
}

<div class="create-container">
    <div class="create-form">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
            <div class="form-group">
                <label asp-for="Floor" class="control-label">Етаж:</label>
                <select asp-for="Floor" id="floorTypeInput" class="select-form">
                    <option value="Първи">Първи</option>
                    <option value="Междинен">Междинен</option>
                    <option value="Последен">Последен</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label">Държава:</label>
                <input asp-for="Country" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Region" class="control-label">Област:</label>
                <input asp-for="Region" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label">Град/Село:</label>
                <input asp-for="City" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Адрес:</label>
                <input asp-for="Address" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="SquareFeet" class="control-label">Площ(кв.м):</label>
                <input type="number" id="squareFeetInput" asp-for="SquareFeet" min="1" class="textInput" /><br />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="alarmSystemInput" class="checkboxInput" asp-for="AlarmSystem" /> @Html.DisplayNameFor(model => model.AlarmSystem)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="gasBottlesInput" class="checkboxInput" asp-for="GasBottles" /> @Html.DisplayNameFor(model => model.GasBottles)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="emergencyExitInput" class="checkboxInput" asp-for="EmergencyExit" /> @Html.DisplayNameFor(model => model.EmergencyExit)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="fireExtinguishersInput" class="checkboxInput" asp-for="FireExtinguishers" /> @Html.DisplayNameFor(model => model.FireExtinguishers)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="previousIncidentsInput" class="checkboxInput" asp-for="PreviousAccidents" /> @Html.DisplayNameFor(model => model.PreviousAccidents)
                </label>
            </div>
            <div class="form-group">
                <input class="create-result" type="submit" value="Запази резултат" />
            </div>
        </form>
        <button class="show-result" OnClick="getResidentialResultValue();">Покажи резултат</button>
    </div>
    <div class="result-box">
        <span class="result">100</span>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}