@model InsuranceRiskAssessment.DataAccessLayer.Entities.MovablePropertyEnities.VehicleByLand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleByLand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parktronic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parktronic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MostCommonRoutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MostCommonRoutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManifactureYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManifactureYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityEquipmenPossession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityEquipmenPossession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnicalServiceability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnicalServiceability)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanceTraveled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanceTraveled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredRegion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredRegion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousAccidents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousAccidents)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
