@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.VehicleByLand.VehicleByLandEditViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Промени резултат от пътен транспорт";
}

<div class="create-container">
    <div class="create-form">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
            <div class="form-group">
                <label asp-for="RegisterNumber" class="control-label"></label>
                <input asp-for="RegisterNumber" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <select asp-for="FuelType" id="fuelTypeInput" class="select-form">
                     <option value="Бензин">Бензин</option>
                     <option value="Дизел">Дизел</option>
                     <option value="Бензин + пропан">Бензин + пропан</option>
                     <option value="Електричество">Електричество</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MostCommonRoutes" class="control-label"></label>
                <select asp-for="MostCommonRoutes" id="mostCommonRoutesInput" class="select-form">
                     <option value="Градски">Градски</option>
                     <option value="Междуградски">Междуградски</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ManifactureYear" class="control-label"></label>
                <input type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" asp-for="ManifactureYear" class="dateInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="DistanceTraveled" class="control-label"></label>
                <input id="traveledDistance" asp-for="DistanceTraveled" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input type="number" min="1" asp-for="Height" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input type="number" asp-for="Weight" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input type="number" asp-for="Width" min="1" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCountry" class="control-label"></label>
                <input asp-for="RegisteredCountry" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredRegion" class="control-label"></label>
                <input asp-for="RegisteredRegion" class="textInput" /><br />
            </div>
            <div class="form-group">
                <label asp-for="RegisteredCity" class="control-label"></label>
                <input asp-for="RegisteredCity" class="textInput" /><br />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="securityEquipmenPossession" class="checkboxInput" asp-for="SecurityEquipmenPossession" /> @Html.DisplayNameFor(model => model.SecurityEquipmenPossession)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="technicalServicability" class="checkboxInput" asp-for="TechnicalServiceability" /> @Html.DisplayNameFor(model => model.TechnicalServiceability)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="previousIncidentsInput" class="checkboxInput" asp-for="PreviousAccidents" /> @Html.DisplayNameFor(model => model.PreviousAccidents)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="parktronicInput" class="checkboxInput" asp-for="Parktronic" /> @Html.DisplayNameFor(model => model.Parktronic)
                </label>
            </div>
            <div class="form-group">
                <input class="create-result" type="submit" value="Запази резултат" />
            </div>
        </form>
        <button class="show-result" OnClick="getLandTransportResultValue()">Покажи резултат</button>
    </div>
    <div class="result-box">
        <span class="result">@Model.ResultValue</span>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}
