@model InsuranceRiskAssessment.Web.Models.ViewModels.MovableProprtiesViewModels.AirTransport.AirTransportDetailsViewModel

@{
    ViewData["Title"] = "Insurance Risk Assesment - Детайли";
}

<div class="details-container">

    <div class="details-box">
        <a asp-action="Index"><i data-feather="arrow-left" class="back-icon"></i></a>
        <div class="model-details">
            <div>@Html.DisplayNameFor(model => model.Name) <span class="details-span">@Html.DisplayFor(model => model.Name)</span></div>
            <div>@Html.DisplayNameFor(model => model.Functionality) <span class="details-span">@Html.DisplayFor(model => model.Functionality)</span></div>
            <div>@Html.DisplayNameFor(model => model.ManifactureYear) <span class="details-span">@Model.ManifactureYear.ToShortDateString()</span></div>
            <div>@Html.DisplayNameFor(model => model.DistanceTraveled)  <span class="details-span">@Html.DisplayFor(model => model.DistanceTraveled)</span></div>
            <div>@Html.DisplayNameFor(model => model.Height) <span class="details-span">@Html.DisplayFor(model => model.Height)</span></div>
            <div>@Html.DisplayNameFor(model => model.Weight) <span class="details-span">@Html.DisplayFor(model => model.Weight)</span></div>
            <div>@Html.DisplayNameFor(model => model.Width) <span class="details-span">@Html.DisplayFor(model => model.Width)</span></div>
            <div>@Html.DisplayNameFor(model => model.RegisteredCountry) <span class="details-span">@Html.DisplayFor(model => model.RegisteredCountry)</span></div>
            <div>@Html.DisplayNameFor(model => model.RegisteredRegion) <span class="details-span">@Html.DisplayFor(model => model.RegisteredRegion)</span></div>
            <div>@Html.DisplayNameFor(model => model.RegisteredCity) <span class="details-span">@Html.DisplayFor(model => model.RegisteredCity)</span></div>
            <div>
                Обезопасителни средства:
                @if (Model.SecurityEquipmenPossession)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Техническа изправност: @if (Model.TechnicalServiceability)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>
                Предишни инциденти:
                @if (Model.PreviousAccidents)
                {
                    <i data-feather="check" class="details-icon"></i>
                }
                else
                {
                    <i data-feather="x" class="details-icon"></i>
                }
            </div>
            <div>Създадено на: <span class="details-span">@Model.CreatedAt.ToShortDateString()</span></div>
            <div>Последно променено на: <span class="details-span">@Model.ModifiedAt.ToShortDateString()</span></div>
        </div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn"> <i data-feather="edit" class="edit-icon"></i></a>
    </div>

</div>

